* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(209, 136, 87, 1);
    /* background-color: transparent !important; */
  }
  
  body {
    background: rgba(209, 136, 87, 1);
    /* background: rgba(243, 224, 80, 1.0); */

  }
  
.webgl{
  position : fixed;
  top:0;
  left:0;
  outline : none;
}